<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Basilio</title>

    <link rel="stylesheet" href="../../fonts/fonts.css">
    <link rel="stylesheet" href="./popup.css">
</head>

<body>
    <div class="popup">
        <div class="symbols-close">
            <img src="../../resourses/symbols_close.png" alt="close">
        </div>
        <div class="description">
            <p>
                Обратите внимание, что этот товар нельзя заказать, а можно только просмотреть его наличие в нашем каталоге.
            </p>
        </div>
    </div>
</body>

</html>