* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.layout {
    height: 100%;
    width: 100%;
    align-items: stretch;
}

.layout>.header {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 90px;
}

.layout>.header>.brand {
    width: 20%;
}

.layout>.header>.brand>p {
    font-family: 'Playfair Display';
    font-weight: 800;
    font-size: 28px;
}

.layout>.header>.menu {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    display: flex;
    list-style-type: none;
    width: 50%;
    justify-content: space-between;
}


.layout>.header>.phone {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    width: 20%;
    text-align: right;
}

.layout>.footer {
    height: 200px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layout>.footer>.brand {
    padding-left: 90px;
    width: 24%;
}


.layout>.footer>.brand>p {
    font-family: 'Playfair Display';
    font-weight: 800;
    font-size: 28px;
    color: white;
}

.layout>.footer>.socialmedia {
    text-align: center;
    display: flex;
    list-style-type: none;
    width: 10%;
    justify-content: space-between;
}

.layout>.footer>.phone {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    width: 24%;
    text-align: right;
    color: white;
    padding-right: 90px;
}

.layout>.header>.menu a {
    color: black;
    text-decoration: none;
}

.layout>.content>.discounts>.sale {
    position: relative;
    display: flex;
    justify-content: center;
    top: 25px;
}

.layout>.content>.discounts>.sale img {
    width: 220px;
    height: 150px;
}

.layout>.content>.discounts>.first-block {
    padding: 0 90px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 170px;
}

.layout>.content>.discounts>.first-block>.left-side {
    position: relative;

}

.layout>.content>.discounts>.first-block>.left-side>.title {
    position: relative;
    width: 824px;
}

.layout>.content>.discounts>.first-block>.left-side>.title>p {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 64px;
}


.layout>.content>.discounts>.first-block>.left-side>.discount-period {
    padding: 10px 0 34px;
}

.layout>.content>.discounts>.first-block>.left-side>.discount-period>p {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    text-decoration-line: underline;
    text-underline-offset: 3px;
}

.layout>.content>.discounts>.first-block>.left-side>.description {
    width: 600px;
}

.layout>.content>.discounts>.first-block>.left-side>.description>p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
}

.layout>.content>.discounts>.first-block>.left-side>.look-btn {
    padding-top: 48px;
}

.layout>.content>.discounts>.first-block>.left-side>.look-btn button {
    border: none;
    background: black;
    cursor: pointer;
    width: 333px;
    padding: 26px 0;
    border-radius: 26px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    transition: all 0.5s ease;
}

.layout>.content>.discounts>.first-block>.left-side>.look-btn button:hover {
    background: rgb(46, 46, 46);
}

.layout>.content>.discounts>.first-block>.right-side {
    position: relative;
    top: 50px;
    right: 200px;
}

.layout>.content>.discounts>.first-block>.right-side>img {
    width: 778px;
    height: 665px;
}

.layout>.content>.second-section {
    padding: 0 90px;
}

.layout>.content>.second-section>.title {
    display: flex;
    justify-content: center;
    padding: 20px 0 70px;
}

.layout>.content>.second-section>.title>p {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 64px;
}

.layout>.content>.second-section>.product-categories {
    display: grid;
    grid-template-columns: repeat(4, 315px);
    grid-auto-rows: 315px;
    justify-content: space-evenly;
    gap: 40px;
    padding-bottom: 100px;
}

.layout>.content>.second-section>.product-categories div {
    position: relative;
    text-align: center;

}

.layout>.content>.second-section>.product-categories div p {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 33px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.layout>.content>.second-section>.product-categories img {
    filter: brightness(50%);
    border-radius: 19px;
}

.layout>.content>.third-section {
    padding: 20px 50px 100px;
}

.layout>.content>.third-section>.title {
    display: flex;
    justify-content: center;
}

.layout>.content>.third-section>.title>p {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 64px;
}

.layout>.content>.third-section>.popular-goods {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.layout>.content>.third-section>.popular-goods .card-product {
    width: 340px;
    text-align: center;
    border: 1px solid black;
    padding: 35px 10px;
    border-radius: 15px;
    cursor: pointer;
}

.layout>.content>.third-section>.popular-goods img {
    width: 271px;
    height: 271px;
}

.layout>.content>.third-section>.popular-goods .title {
    padding-top: 30px;
    height: 100px;
}

.layout>.content>.third-section>.popular-goods .title p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
}

.layout>.content>.third-section>.popular-goods .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 19px;
}

.layout>.content>.third-section>.popular-goods .old-price {
    height: 24px;
}

.layout>.content>.third-section>.popular-goods .old-price p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    text-decoration: line-through;
}

.layout>.content>.third-section>.popular-goods .actual-price {
    height: 24px;
}

.layout>.content>.third-section>.popular-goods .actual-price p {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 22px;
}

.layout>.content>.third-section>.popular-goods .availability p {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 19px;
    color: rgba(82, 82, 82, 1);
    padding-top: 20px;
}

.popup-inner{
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}


.popup-inner>.popup {
    background: rgba(213, 213, 213, 0.91);
    border: 2px solid black;
    border-radius: 26px;
    width: 600px;
    height: 294px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-inner>.popup>.symbol-close {
    position: absolute;
    right: 25px;
    top: 25px;
    width: 35px;
    height: 35px;
cursor: pointer;
}

.popup-inner>.popup>.symbol-close>img {
    width: 100%;
    height: 100%;
}

.popup-inner>.popup>.description {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner>.popup>.description>p {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    width: 452px;
}

.popup-inner.active{
display: block;
}

